
body{
  background:linear-gradient(white, rgb(250, 246, 237));
}


nav ul a,
nav .brand-logo {

  color:white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}
nav {
  height: 70px;
  background: transparent; 
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#logo {
  color: #fff;

  font-size: 18px;
  transition: all ease .5s;
}
nav.shrink {
  height: 40px;
  transition: all ease .5s;
  background: black; // Change background to black on scroll
}

nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
}

.parallax-container {
  min-height: 650px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .service-banner{
    margin-left:100px;
    margin-top:100px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:200;
    background-color:white;
    color:#00805d;
  }
  .service-text{
    font-family: 'Poiret One', sans-serif;
    font-variant: small-caps;
    
  }
  .header{
    margin-right:10px;
    color:white;
   
  }

  
  .bloom-text{
    margin-top:75px;
   
  }
  .wax-text{
  
  
  }

  
  .wax-pic{
    background-color:green;
    padding:5px;
    background:linear-gradient(to bottom right,white,#78ead3 );
  }
  .wax-pic2{
    margin-top:50px;
    padding:5px;
    background:linear-gradient(to bottom left,white,#78ead3 );
  }
  
  #projects{
    height: 450px;
   background: white;
  }
  .text{
    font-family:'Poiret One', sans-serif;
    margin-right:50px;
    margin-top:175px;
  }
  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  .a-box{
    margin-top:150px;
  }
  #circle-shape-example { 
    font-family: Open Sans, sans-serif; 
    margin: 2rem; 
  }
  #circle-shape-example p { 
    line-height: 1.8; 
  }
  #circle-shape-example .curve { 
    width: 33%; height: auto;
    min-width: 100px;
   
    float: left;
    margin-right:2rem; 
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
  }
  

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .text{
    font-family:'Poiret One', sans-serif;
    margin-right:50px;
   
  }
  .a-box{
    margin-top:25px;
  }
  #logo{
    margin-top:15px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

#logo{
  margin-top:15px;
}


 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
