body{
  background:linear-gradient(to right,white,rgb(197, 250, 197) );
}

nav ul a,
nav .brand-logo {
  color: #444;
}
nav{
  position: fixed;
  background-color:transparent;
  padding:0px 20px;
}
.head-link{
  color:white;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.header{
  padding-bottom: 10px;
  padding-right: 18px;
  float: right;
  font-weight: 400;

}
.bloom-text{
 height: 130px;
margin-top:50px;

}

.header{
  margin-top:-20px;
}


.parallax-container {
  background:no-repeat;
  background-size:cover;
  width:100%;
  min-height:600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
.services{

  text-align: center;
  width:100%;
  height: 35px;
  color:white;
  background-color:#ff8a65 ;
}
.wax-title{
  height: 75px;
  padding-bottom:0px;
  margin-left:48%;
  background:green;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }




@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container {
    background:cover;
    min-height: 300px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
    .bloom-text{
      height: 75px;
     margin-top:50px;
    
     }
    
  
  }



.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}





 .parallax img 
 {
 
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
   
 	color:white;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }

 nav a.button-collapse
 {
 	color:black;
 }
 
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

}
